<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= pageTitle %> </title>
    
    <link rel="stylesheet" href ="/css/main.css">
    
</head>
<body>
    <header class = "main-header">
        <nav class = "main-header__nav">
           <!--  <ul class = "main-header__item-list"> -->
               <!-- <li class = "main-header__item"> <a class = "active" href = "/"> Shop Click </a> </li>
                <li class = "main-header__item"> <a href = "/add"> Add Product Click </a></li> -->
                <h1>
                    Online Shop
                </h1>
           <!-- </ul> -->
        </nav>
    </header>

    <main>
        <ol>
            <li>
                <h3>
                    <ul>
                        <li> Product name: Amazon Basics 48 Key Cabinet Steel Security Lock Box </li>
                        <li> Price in BDT: 20000 taka </li>
                    </ul>
                </h3>
                <a href="https://www.amazon.com/AmazonBasics-Cabinet-Steel-Security-Lock/dp/B0879XXK33/ref=sr_1_6?dchild=1&keywords=amazonbasics&pd_rd_r=275c0161-b1a9-4090-96c2-77ba1aee9f0e&pd_rd_w=hrtMH&pd_rd_wg=uBNNk&pf_rd_p=43c970ec-59f4-4449-b2cb-0815c70c7b7d&pf_rd_r=ZMG4EH7VPHTZ5NPRNR3P&qid=1616803376&sr=8-6">
                    <img src = 'https://images-na.ssl-images-amazon.com/images/I/61v4g%2B2QNtL._AC_SL1500_.jpg', alt = 'Amazon Basics 48 Key Cabinet Steel Security Lock Box' width="150" height="200">
                </a>
            </li>
            <hr>
            <li>
                <h3>
                    <ul>
                        <li> Product name: iOttie Easy One Touch 5 Dashboard & Windshield Car Mount Phone Holder Desk Stand for iPhone, Samsung, Moto, Huawei, Nokia, LG, Smartphones </li>
                        <li> Price in BDT: 22000 taka </li>
                    </ul>
                </h3>
                <a href="https://www.amazon.com/dp/B0875RKTQF/ref=sspa_dk_detail_0?psc=1&pd_rd_i=B0875RKTQF&pd_rd_w=pOVeq&pf_rd_p=cbc856ed-1371-4f23-b89d-d3fb30edf66d&pd_rd_wg=mtbRR&pf_rd_r=C9PX9C2Y1EY3BDFE1MH8&pd_rd_r=182a3dd8-0c22-44fb-9705-582e27512512&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUExT0swM1JRSTAyOEFDJmVuY3J5cHRlZElkPUEwNTA0OTkwMk9CM0lOTllaQlNIRSZlbmNyeXB0ZWRBZElkPUEwMDE1NDg3MkxEODcwSzNFMUU3TCZ3aWRnZXROYW1lPXNwX2RldGFpbF90aGVtYXRpYyZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU=">
                    <img src = 'https://images-na.ssl-images-amazon.com/images/I/6132lQzqmXL._AC_SL1500_.jpg', alt = 'iOttie Easy One Touch 5 Dashboard & Windshield Car Mount Phone Holder Desk Stand for iPhone, Samsung, Moto, Huawei, Nokia, LG, Smartphones' width="150" height="200">
                </a>
            </li>
            <hr>
            <li>
                <h3>
                    <ul>
                        <li> Product name: Magnetic Phone Car Mount, Air Vent Phone Mount for Car by HUSSELL - 360° Adjustable Universal Magnet Phone Holder - Compatible with Any Cell Phone, iPhone Galaxy LG Huawei </li>
                        <li> Price in BDT: 12000 taka </li>
                    </ul>
                </h3>
                <a href="https://www.amazon.com/dp/B07HKMSMFL/ref=sspa_dk_detail_1?psc=1&pd_rd_i=B07HKMSMFL&pd_rd_w=pOVeq&pf_rd_p=cbc856ed-1371-4f23-b89d-d3fb30edf66d&pd_rd_wg=mtbRR&pf_rd_r=C9PX9C2Y1EY3BDFE1MH8&pd_rd_r=182a3dd8-0c22-44fb-9705-582e27512512&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUExT0swM1JRSTAyOEFDJmVuY3J5cHRlZElkPUEwNTA0OTkwMk9CM0lOTllaQlNIRSZlbmNyeXB0ZWRBZElkPUEwNTk3MTEwM1EzTVU2S1hLUTdJTyZ3aWRnZXROYW1lPXNwX2RldGFpbF90aGVtYXRpYyZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU=">
                    <img src = 'https://images-na.ssl-images-amazon.com/images/I/71XnTrOvqfL._AC_SL1500_.jpg', alt = 'Magnetic Phone Car Mount, Air Vent Phone Mount for Car by HUSSELL - 360° Adjustable Universal Magnet Phone Holder - Compatible with Any Cell Phone, iPhone Galaxy LG Huawei' width="150" height="200">
                </a>
            </li>

            <hr>
            <li>
                <h3>
                    <ul>
                        <li>Magnetic Phone Car Mount,Larger and Stronger Magnet Upgraded Support Wing to Ensure Stability Universal Air Vent Magnetic Car Mount,Car Phone Holder Fit iPhone Galaxy Google Nexus Any Smartphone</li>
                        <li> Price in BDT: 10000 taka </li>
                    </ul>
                </h3>
                <a href="https://www.amazon.com/dp/B07HSQWKHK/ref=sspa_dk_detail_2?psc=1&pd_rd_i=B07HSQWKHK&pd_rd_w=pOVeq&pf_rd_p=cbc856ed-1371-4f23-b89d-d3fb30edf66d&pd_rd_wg=mtbRR&pf_rd_r=C9PX9C2Y1EY3BDFE1MH8&pd_rd_r=182a3dd8-0c22-44fb-9705-582e27512512&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUExT0swM1JRSTAyOEFDJmVuY3J5cHRlZElkPUEwNTA0OTkwMk9CM0lOTllaQlNIRSZlbmNyeXB0ZWRBZElkPUEwNTYwMzU1MkVFV1lWSDA1VEVBRiZ3aWRnZXROYW1lPXNwX2RldGFpbF90aGVtYXRpYyZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU=">
                    <img src = 'https://images-na.ssl-images-amazon.com/images/I/61VnuiznUKL._AC_SL1500_.jpg', alt = 'Magnetic Phone Car Mount,Larger and Stronger Magnet Upgraded Support Wing to Ensure Stability Universal Air Vent Magnetic Car Mount,Car Phone Holder Fit iPhone Galaxy Google Nexus Any Smartphone' width="150" height="200">
                </a>
            </li>
            
            <hr>

            <li>
                <h3>
                    <ul>
                        <li>Garmin Forerunner 235, GPS Running Watch, Black/Gray</li>
                        <li> Price in BDT: 13600 taka </li>
                    </ul>
                </h3>
                <a href="https://www.amazon.com/Garmin-Forerunner-Running-Watch-Black/dp/B0160BC1FO/?_encoding=UTF8&pd_rd_w=fZvpb&pf_rd_p=61a95fae-e859-4f27-858a-6146c1ae863a&pf_rd_r=2RPZ3JZ5S2C9ZV0SC5SH&pd_rd_r=c4e72422-3ed3-4071-b712-5613ac7da52f&pd_rd_wg=GCGAF&ref_=pd_gw_unk">
                    <img src = 'https://images-na.ssl-images-amazon.com/images/I/819WMWm6NoL._AC_SL1500_.jpg', alt = 'Garmin Forerunner 235, GPS Running Watch, Black/Gray' width="150" height="200">
                </a>
            </li>

            <hr>

            <li>
                <h3>
                    <ul>
                        <li>OtterBox Defender Series Case for iPad Pro 12.9" (3rd Gen - ONLY) - Retail Packaging - Black</li>
                        <li> Price in BDT: 4800 taka </li>
                    </ul>
                </h3>
                <a href="https://www.amazon.com/OtterBox-Defender-Series-iPad-Pro-Case/dp/B00Z7T3DTO/?_encoding=UTF8&pd_rd_w=fZvpb&pf_rd_p=61a95fae-e859-4f27-858a-6146c1ae863a&pf_rd_r=2RPZ3JZ5S2C9ZV0SC5SH&pd_rd_r=c4e72422-3ed3-4071-b712-5613ac7da52f&pd_rd_wg=GCGAF&ref_=pd_gw_unk">
                    <img src = 'https://images-na.ssl-images-amazon.com/images/I/51pUYchnV8L._AC_SL1000_.jpg', alt = 'OtterBox Defender Series Case for iPad Pro 12.9" (3rd Gen - ONLY) - Retail Packaging - Black' width="150" height="200">
                </a>
            </li>

            <hr>

            <li>
                <h3>
                    <ul>
                        <li>Amazon Basics Apple Certified 30-Pin to USB Charging Cable for Apple iPhone 4, iPod, iPad 3rd Generation, 3.2 Foot, Black</li>
                        <li> Price in BDT: 600 taka </li>
                    </ul>
                </h3>
                <a href="https://www.amazon.com/AmazonBasics-Certified-30-Pin-iPhone-Generation/dp/B00NH12EHQ/?_encoding=UTF8&pd_rd_w=fZvpb&pf_rd_p=61a95fae-e859-4f27-858a-6146c1ae863a&pf_rd_r=2RPZ3JZ5S2C9ZV0SC5SH&pd_rd_r=c4e72422-3ed3-4071-b712-5613ac7da52f&pd_rd_wg=GCGAF&ref_=pd_gw_unk">
                    <img src = 'https://images-na.ssl-images-amazon.com/images/I/81PlihBKrNL._AC_SL1500_.jpg', alt = 'Amazon Basics Apple Certified 30-Pin to USB Charging Cable for Apple iPhone 4, iPod, iPad 3rd Generation, 3.2 Foot, Black' width="150" height="200">
                </a>
            </li>

            <hr>
            
            <li>
                <h3>
                    <ul>
                        <li>Acer Aspire 5 Slim Laptop, 15.6 inches Full HD IPS Display, AMD Ryzen 3 3200U, Vega 3 Graphics, 4GB DDR4, 128GB SSD, Backlit Keyboard, Windows 10 in S Mode, A515-43-R19L, Silver</li>
                        <li> Price in BDT: 30000 taka </li>
                    </ul>
                </h3>
                <a href="https://www.amazon.com/Acer-Display-Graphics-Keyboard-A515-43-R19L/dp/B07RF1XD36/ref=sr_1_1?dchild=1&fst=as%3Aoff&pd_rd_r=c4e72422-3ed3-4071-b712-5613ac7da52f&pd_rd_w=D7UWd&pd_rd_wg=GCGAF&pf_rd_p=83ab1c34-7657-4d09-b72d-0a3e4b634b1d&pf_rd_r=2RPZ3JZ5S2C9ZV0SC5SH&qid=1616805631&rnid=16225007011&s=computers-intl-ship&sr=1-1">
                    <img src = 'https://images-na.ssl-images-amazon.com/images/I/71vvXGmdKWL._AC_SL1500_.jpg', alt = 'Acer Aspire 5 Slim Laptop, 15.6 inches Full HD IPS Display, AMD Ryzen 3 3200U, Vega 3 Graphics, 4GB DDR4, 128GB SSD, Backlit Keyboard, Windows 10 in S Mode, A515-43-R19L, Silver' width="150" height="200">
                </a>
            </li>

            <hr>

            <li>
                <h3>
                    <ul>
                        <li> Lenovo Flex 5 14" 2-in-1 Laptop, 14.0" FHD (1920 x 1080) Touch Display, AMD Ryzen 5 4500U Processor, 16GB DDR4, 256GB SSD, AMD Radeon Graphics, Digital Pen Included, Win 10, 81X20005US, Graphite Grey </li>
                        <li> Price in BDT: 6400 taka </li>
                    </ul>
                </h3>
                <a href="https://www.amazon.com/Lenovo-Processor-Graphics-Included-81X20005US/dp/B086226DDB/ref=sr_1_14?dchild=1&fst=as%3Aoff&pd_rd_r=c4e72422-3ed3-4071-b712-5613ac7da52f&pd_rd_w=D7UWd&pd_rd_wg=GCGAF&pf_rd_p=83ab1c34-7657-4d09-b72d-0a3e4b634b1d&pf_rd_r=2RPZ3JZ5S2C9ZV0SC5SH&qid=1616805811&rnid=16225007011&s=computers-intl-ship&sr=1-14">
                    <img src = 'https://images-na.ssl-images-amazon.com/images/I/81AbJXWCxXL._AC_SL1500_.jpg', alt = 'Lenovo Flex 5 14" 2-in-1 Laptop, 14.0" FHD (1920 x 1080) Touch Display, AMD Ryzen 5 4500U Processor, 16GB DDR4, 256GB SSD, AMD Radeon Graphics, Digital Pen Included, Win 10, 81X20005US, Graphite Grey' width="150" height="200">
                </a>
            </li>

            <hr>

            <li>
                <h3>
                    <ul>
                        <li> Acer Chromebook Spin 311 Convertible Laptop, Intel Celeron N4020, 11.6" HD Touch, 4GB LPDDR4, 32GB eMMC, Gigabit Wi-Fi 5, Bluetooth 5.0, Google Chrome, CP311-2H-C679 </li>
                        <li> Price in BDT: 25,000 taka </li>
                    </ul>
                </h3>
                <a href="https://www.amazon.com/Acer-Chromebook-Convertible-Bluetooth-CP311-2H-C679/dp/B086MBQKH2/ref=psdc_13896609011_t2_B086226DDB">
                    <img src = 'https://images-na.ssl-images-amazon.com/images/I/71c5W9NxN5L._AC_SL1500_.jpg', alt = 'Acer Chromebook Spin 311 Convertible Laptop, Intel Celeron N4020, 11.6" HD Touch, 4GB LPDDR4, 32GB eMMC, Gigabit Wi-Fi 5, Bluetooth 5.0, Google Chrome, CP311-2H-C679' width="150" height="200">
                </a>
            </li>

        </ol>
    </main>
</body>
</html>